.playArea {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    &__moveIndicator {
        height: 5vh;
    }

    &__board {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto auto;
        min-width: 30vw;
        aspect-ratio: 1/ 1;
        overflow: hidden;
        position: relative;
    }

    &__endgameMessage {
        height: 5vh;
    }

    &__options {
        border: solid red 1px;
    }
}